@using lsc.Model.Enume
@model List<lsc.Model.EnterCustomer>

@{
    ViewData["Title"] = "客户统计详情";
    Layout = "~/Pages/_LayoutNone.cshtml";
}

<table class="layui-table">
    <thead class="layui-table-header">
    <tr>
        <th>企业名称</th>
        <th>企业类型</th>
        <th>客户来源</th>
        <th>阶段</th>
        <th>省份</th>
        <th>城市</th>
        <th>客户简介</th>
    </tr>
    </thead>
    <tbody class="layui-table-body">
    @if (Model != null)
    {
        foreach (var info in Model)
        {
            <tr>
                <td><a href="javascript:;" onclick="enterinfo('@(info.ID)')">@info.EnterName</a></td>
                <td>@info.CustomerType.TryToStr()</td>
                <td>@info.Source.TryToStr()</td>
                <td>@info.Phase.TryToStr()</td>
                <td>@info.Province</td>
                <td>@info.City</td>
                <td>@info.CustAbstract</td>
            </tr>
        }
    }

    </tbody>
</table>
<script>
    var element, table, layer;
    layui.use(['element', 'table', 'layer'], function() {
        element = layui.element;
        table = layui.table;
        layer = layui.layer;
    });
    var enterinfo = function(id) {
        layer.open({
            type: 2,
            title: '客户信息列表',
            shadeClose: true,
            shade: 0.8,
            area: ['1000px', '90%'],
            content: '/EnterCustom/EnterCustomInfo?id=' + id + "&t=1"
        });
    }
</script>